root=true

[*]
insert_final_newline=true
trim_trailing_whitespace=true
indent_style=space
indent_size=4

[*.{kt,kts}]
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true

[*.{yml,yaml,json,conf,html,toml}]
indent_size=2

[*.proto]
indent_size=2
max_line_length=80

[**/resources/git/version]
insert_final_newline=false

[**/resources/openapi.json]
insert_final_newline=false
