*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles
!/.idea/copyright
!/.idea/inspectionProfiles
!/.idea/.name
!/.idea/icon*.png
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/config.properties
/keystore/*
!/keystore/debug.keystore
kotlin-js-store/
