{
  "name": "My Name",
  "phone": "+1234567890",
  "profileImageUrl": "{{host}}/assets/profile.png",
  "address": {
    "street": "Street 43",
    "city": "No Where",
    "postalCode": "90210"
  },
  "email": "me@home.at",
  "intro": [
    "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et",
    "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam"
  ]
}
